# Merging Dataframes

In [1]:
import pandas as pd
import numpy as np

Adding new data into the existing pandas dataframe is not so hard. We can use squared braket for new column name and the data we want to add is added. If we want to add only few items in the existing data frame, we need to consider the value of missing. We need to explicitely mention None value. Or if we want to add only few data, we need to mention the index operator when there is no index on the dataframe

For example, there are two differnet data frame. One for studednts and the other for employees in the university. There are possibilities for joining both group at the same time.   
If we would like to get all the people regardless of whether they are students or employees, and all the information from them, we can use 'outer join'. It is called a union.   
If we would like to get a list of people who are student and employee at the same time, we can use  'inner join' which is called an intersection.

In [2]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

            School
Name
James     Business
Mike           Law
Sally  Engineering

There are two overlapped person, James and Sally. If we want to make a dataframe coming from the union of these two dataframes, we can use 'outerjoin'.

In [3]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

Everyone is listed eventhough there are NaN from missing values.   
If we want to get the dataframe with intersection, we can set the how attribute to 'inner'.   
We will see only Sally and James in it.

In [4]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

The next one is 'set addition'. It is about getting full list of certain dataframe and getting additional information from other dataframe. For example, we want to get a list of all staffs in the dataframe no matter they are students or not. But if anyone is a student, we would like to get detailed information about student. We use 'left'join.

In [7]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business