# Merging Dataframes

In [1]:
import pandas as pd
import numpy as np

Adding new data into the existing pandas dataframe is not so hard. We can use squared braket for new column name and the data we want to add is added. If we want to add only few items in the existing data frame, we need to consider the value of missing. We need to explicitely mention None value. Or if we want to add only few data, we need to mention the index operator when there is no index on the dataframe

For example, there are two differnet data frame. One for studednts and the other for employees in the university. There are possibilities for joining both group at the same time.   
If we would like to get all the people regardless of whether they are students or employees, and all the information from them, we can use 'outer join'. It is called a union.   
If we would like to get a list of people who are student and employee at the same time, we can use  'inner join' which is called an intersection.

In [26]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

            School
Name
James     Business
Mike           Law
Sally  Engineering

There are two overlapped person, James and Sally. If we want to make a dataframe coming from the union of these two dataframes, we can use 'outerjoin'.

In [13]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

Everyone is listed eventhough there are NaN from missing values.   
If we want to get the dataframe with intersection, we can set the how attribute to 'inner'.   
We will see only Sally and James in it.

In [14]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

The next one is 'set addition'. It is about getting full list of certain dataframe and getting additional information from other dataframe. For example, we want to get a list of all staffs in the dataframe no matter they are students or not. But if anyone is a student, we would like to get detailed information about student. We use 'left'join.

In [15]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [16]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

To do merging, we do not need to use indicies all the time. We can also do merging using columns.

In [27]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df, student_df, how='outer', left_on='Name', right_on='Name')

    Name            Role       School
0  Kelly  Director of HR          NaN
1  Sally  Course liasion  Engineering
2  James          Grader     Business
3   Mike             NaN          Law

The location information is added below dataframes. We can do merging but the underscore x is always the left dataframe information, and the underscore y is always the right dataframe information.

In [28]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

          Location_x   Name            Role            Location_y       School
0       State Street  Kelly  Director of HR                   NaN          NaN
1  Washington Avenue  Sally  Course liasion   512 Wilson Crescent  Engineering
2  Washington Avenue  James          Grader  1024 Billiard Avenue     Business

Multi indexing and multiple columns   
There are some cases of the values in the certain columns are overlapped but maybe not overlapped at the other columns.
We can merge data while checking overlapped multiple columns.
James are overlapped at the First name but actually their Last Name is different.
So, overlapped data( a person in Student and in Staff at the same time) is only one, Sally.

In [31]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])
print(staff_df)
print()
print(student_df)
print()
pd.merge(staff_df, student_df, how='inner', left_on=['First Name','Last Name'], right_on=['First Name','Last Name'])

  First Name   Last Name            Role
0      Kelly  Desjardins  Director of HR
1      Sally      Brooks  Course liasion
2      James       Wilde          Grader

  First Name Last Name       School
0      James   Hammond     Business
1       Mike     Smith          Law
2      Sally    Brooks  Engineering

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering